body {
      background-color: url('https://static.tumblr.com/6586e93ee88779dc91d6d4c766fee78d/ho55tz8/1hcooxpkn/tumblr_static_82m5ic33fbk8ggcggwcgk0884.png');
    }

button {
  width: 10em;
  }

h1 {
    width: 40em;
    color: rgb(23, 54, 139);
  }

title {
    font-size: 40px;
      }

footer {
  background-color: rgb(47, 201, 221);
  padding: 10px;
  text-align: center;
  color: white;
}

