body {
      background-color: rgb(237, 241, 245);
    }

button {
  width: 10em;
  }

h1 {
    width: 40em;
    color: rgb(23, 54, 139);
  }

title {
    font-size: 40px;
      }

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

